Django==1.9.1
django-cas-client==1.2.0
django-crontab==0.7.1
django-markdown==0.8.4
djangorestframework==3.3.3
jira==1.0.3
meld3==1.0.2
MySQL-python==1.2.5
pycurl==7.19.0
redis==2.10.5
requests==2.8.1
urllib3==1.19.1
xlrd==0.9.4
xlwt==1.0.0
xpinyin==0.5.4
